<%= content_for(:maincontent) do %>
<div class="container-fluid">
  <%= form_with(model: user, local: true, class:"form-horizontal") do |form| %>
  <% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



<div class="row py-4 justify-content-md-center">
  <div class="col-md-8">
    <div class="card">

      <div class="card-header">
        <div class="row pl-4">
          <h1 class="pt-1 plan-title text-left"><strong>プロフィール</strong></h1>
          <% if @current_utinaantyu != nil%>
          <%if @utinaantyu.id == @current_utinaantyu.id%>
          <div class="pt-2 pl-4">
            <%= link_to '編集', edit_utinaantyu_path(@utinaantyu), style:"font-size:1.5vw" %>
          </div>
          <%end%>
          <%end%>
        </div>
      </div>

      <div class="card-body p-5 ">
        <!-- ここに写真下側の文字 -->
        <!--<div class="align-self-center p-5 col-md-6">-->

        <div class="row py-2">
          <div class="col-md-3">
            <%= form.label "名前：", class:"control-label plan-content", style:"font-weight:bold"%>
          </div>
          <div class="col-md-9">
            <%= form.text_field :name, id: :user_name ,:class => "form-control",style:"font-size:1.5vw;line-height:2.5vw;",size:"30x2"%>
          </div>
        </div>

        <div class="row py-2">
          <div class="col-md-3">
            <%= form.label "メールアドレス：", class:"control-label plan-content", style:"font-weight:bold" %>
          </div>
          <div class="col-md-9">
            <%= form.text_field :email, id: :user_email,:class => "form-control",style:"font-size:1.5vw" %>
          </div>
        </div>

        <div class="row py-2">
          <div class="col-md-3">
            <%= form.label "パスワード：", class:"control-label plan-content", style:"font-weight:bold" %>
          </div>
          <div class="col-md-9">
            <%= form.password_field :password, id: :user_password,:class => "form-control",style:"font-size:1.5vw" %>
          </div>
        </div>

        <div class="row py-2">
            <div class="col-md-offset-3 col-md-9">
          <div class="actions">
              <%= form.submit class:"btn btn-primary btn-block",style:"font-size:1.5vw"%>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>
<% end %>
<% end %>
