<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<%= content_for(:maincontent) do%>


    <% @user.errors.full_messages.each do |message| %>
          <%= message %>
    <% end %>


    <p>user edit</p>

    <%= form_tag("/users/#{params[:id]}/update") do %>

    <p>user name</p>
    <input value="<%=@user.name%>", name="name">
    <p>email</p>
    <input value="<%=@user.email%>", name="email">
    <input type="submit" value="update">

    <%end%>

<%end%>