<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<%= content_for(:maincontent) do%>

    <p>user detile</p>

    <h2><%= @user.name%></h2>

    <p><%= @user.email%></p>

    <% if @user.id == @current_pub_user.id%>
    <%=link_to("edit","/users/#{@user.id}/edit")%>
        <%= link_to("mypage","/users/#{@user.id}/mypage")%>
        <%end%>


<%end%>
