<%= content_for(:maincontent)  do %>
  <%= form_with(model: plan, local: true) do |form| %>

	  <div class="field">
		<div class="form-group">
		  <%= form.label :image %>
		  <%= form.file_field :image, id: :plan_image ,:class => "form-control"%>
		  <% if plan.errors.messages[:image].any? %>
			<span class=text-warning><%= plan.errors.messages[:image][0] %></span>
		  <% end %>
		</div>
	  </div>


	<form>
	  <div class="field">
		<div class="form-group">
		  <%= form.label :content %>
		  <%= form.text_area :content, id: :plan_content ,:class => "form-control"%>
		  <% if plan.errors.messages[:content].any? %>
			<span class=text-warning><%= plan.errors.messages[:content][0] %></span>
		  <% end %>
		</div>
	  </div>

	  <div class="actions">
		<%= form.submit %>
	  </div>

	</form>
  <% end %>
<% end %>
