    <div class="row">
      <div class="col-md-6 p-0">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <%= image_tag show_image_plan_path(plan), class:"d-block img-fluid w-100"%>

              <!-- 写真に文字被せるなら以下のタグ内に記載 -->
              <div class="carousel-caption">
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "no_image.png", class:"d-block img-fluid w-100"%>
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
          <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
        </div>
      </div>
      <!-- ここに写真右側の文字 -->
      <div class="align-self-center p-5 col-md-6">

        <%= form_with(model: plan, local: true, class:"form-horizontal") do |form| %>
          <div class="form-group">
            <%= form.label "画像", class:"control-label col-md-2"%>
            <div class=" col-md-10">
              <%= form.file_field :image, id: :plan_image ,:class => "btn btn-default btn-file form-control"%>
            </div>
            <% if plan.errors.messages[:image].any? %>
            <span class=text-warning><%= plan.errors.messages[:image][0] %></span>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label "計画日", class:"control-label col-md-2" %>
            <div class="col-md-10">
              <div class="input-group datepicker col-md-12">
                <%= form.text_field :scheduled_date, id: :plan_scheduled_date ,:class => "form-control"%>
                <span class="input-group-addon col-md-1">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </span>
              </div>
            </div>
            <% if plan.errors.messages[:scheduled_date].any? %>
            <span class=text-warning><%= plan.errors.messages[:scheduled_date][0] %></span>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label "タイトル", class:"control-label col-md-2" %>
            <div class=" col-md-10">
              <%= form.text_area :title, id: :plan_title , :class => "form-control"%>
            </div>
            <% if plan.errors.messages[:title].any? %>
            <span class=text-warning><%= plan.errors.messages[:title][0] %></span>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label "プラン内容", class:"control-label col-md-2" %>
            <div class=" col-md-10">
              <%= form.text_area :content, id: :plan_content, size:"50x20" ,:class => "form-control"%>
            </div>
            <% if plan.errors.messages[:content].any? %>
            <span class=text-warning><%= plan.errors.messages[:content][0] %></span>
            <% end %>
          </div>

          <div class="actions">
            <div class="col-md-offset-2 col-md-10 pt-4">
              <%= form.submit class:"btn btn-primary btn-block"%>
            </div>
          </div>
      </div>


      </div>

<% end %>
