<!-- <div class="col-md-6 p-0">-->
<div class="row p-0 justify-content-md-center">
  <div class="col-md-8">
    <div class="card">

      <div class="card-header text-left">
        <h1 class="pt-1 plan-title"><strong><%=@plan.title%></strong></h1>
      </div>

      <div class="card-body p-5 ">
      <div id="carousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <%= image_tag show_image_plan_path(plan), class:"d-block img-fluid w-100 img-thumbnaill"%>
            <!-- 写真に文字被せるなら以下のタグ内に記載 -->
            <div class="carousel-caption">
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
      </div>
      <!-- ここに写真下側の文字 -->
      <!--<div class="align-self-center p-5 col-md-6">-->


      <div class="pt-5">
        <%if plan.scheduled_date == nil%>
        <p class="pb-5 plan-content">予定日: 未定</p>
        <%else%>
        <% d=plan.scheduled_date %>
        <p class="pb-5 plan-content">予定日: <%=d.strftime("%Y年 %m/%d %H:%M")%></p>
        <%end%>
        <p class="plan-content"><%=@plan.content%></p>
      </div>

        <%if @current_pub_user.bookedplan_id then%>
        <div><p>Booked!</p>
          <%= link_to("cansel","#{@plan.id}/cansel")%>
        </div>
            <%else%>
            <p>BUTTON</p>
            <%= link_to("BUTTON","#{@plan.id}/book")%>
        <%end%>
      </div>
      <div class="card-footer">
        <p class="text-right mt-2">
          提案者: <%= link_to("#{Utinaantyu.find(plan.creator_id).name}", "/utinaantyus/#{Utinaantyu.find(plan.creator_id).id}" ) %>
        </p>
      </div>
    </div>
  </div>
</div>
