<%= content_for(:maincontent)  do %>
<p id="notice"><%= notice %></p>

<h1>Plans <div align="right"><%= link_to 'New Plan', new_plan_path %></div></h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Image</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="container-fluid">

	  <% @plans.each do |plan| %>
      <% if @counter%3 == 0%>
	     <div class="row">
      <%end%>
		  <div class="col-md-4">
		<div class="card">
			<% if plan.image != nil %>
			  <%= link_to image_tag(show_image_plan_path(plan), class: "img-responsive card-img-top", size:"300x300"), plan %>
			<% else %>
			  <%= link_to image_tag("no_image.png", class: "img-responsive card-img-top", size:"300x300"), plan %>
			<% end %>
			<div class="card-body">
			  <p class="card-title"><b>案内内容</b></p>
			  <p class="card-text text-truncate"><%= plan.content %></p>
			</div>
		  </div>
		</div>
    <%@counter+=1%>
    <% if @counter%3 == 0%>
      </div>
    <%end%>
    <%end%>



<% end %>
