<%= content_for(:maincontent)  do %>
<p id="notice"><%= notice %></p>

<div class="container-fluid px-4">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("plans.png", align:"left", class:"img-responsive ", size:"300x135") %>
    </div>
    <div class="col-md-6 align-self-center">
      <%=form_tag("/plans", method:"get", align:"center") do%>
      <%= text_field_tag :search, params[:search],class:"plan-title" %>
      <%= submit_tag "検索", :name => nil,class:"plan-title" %>
      <%= select_tag(:selected_val, options_for_select(["内容","ハッシュタグ"]), class:"plan-title")%>
      <%end%>
    </div>
    <div class="col-md-3">
      <%= link_to image_tag("New_Plan.png", align:"right", class:"img-responsive", size:"300x135"), "/plans/new" %>
    </div>
  </div>
</div>



  <div class="container-fluid">


    <div class="row pt-4">
      <div class=" card-deck-wrapper">
        <div class=" card-deck">
          <%= render(partial: "index", collection:@plans)%>
        </div>
      </div>
    </div>
  </div>

<% end %>
