<%= content_for(:maincontent)  do %>
<div class="container-fluid p-5">
  <p id="notice"><%= notice %></p>

  <%= render(partial:"show", locals:{plan:@plan})%>


  <div class="pt-5">
  <%= render(partial: "/comments/index", collection:@comments)%>
  <%= render(partial: "/comments/form", locals:{plan_id: @plan.id})%>
  </div>

	<%= link_to 'プラン編集', edit_plan_path(@plan) %> |
	<%= link_to 'プラン削除', @plan, method: :delete, data:{confirm: '本当に削除しますか？'}  %> |
	<%= link_to 'プラン一覧へ', plans_path %>

</div>




<% end %>
