<%= content_for(:maincontent)  do %>
<div class="container-fluid p-5">
  <p id="notice"><%= notice %></p>

  <%= render(partial:"show", locals:{plan:@plan})%>


  <div class="pt-5">
  <%= render(partial: "/comments/index", collection:@comments)%>
  <%= render(partial: "/comments/form", locals:{plan_id: @plan.id})%>
  </div>


</div>




<% end %>
