<%= form_for(@plan.comments.build, class:"form-horizontal") do |form| %>
<div class="container-fluid">
  <div class="form-group">
    <div class="row pt-5 justify-content-md-center">
      <div class="col-md-8">
        <%= form.text_area :content, id: :comment_content, size:"30x5", :class => "form-control"%>
      </div>
      <% if @comment.errors.messages[:content].any? %>
      <span class=text-warning><%= @comment.errors.messages[:content][0] %></span>
      <% end %>
    </div>

      <%=hidden_field_tag :plan_id, plan_id%>

      <%=hidden_field_tag :speaker_id, session[:user_id]%>

    <div class="row pt-3 justify-content-md-center">
      <div class="col-md-8">
        <div class="actions">
          <%= form.submit "コメントする", class:"btn btn-primary btn-block"%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
