<%= form_for(@plan.comments.build, class:"form-horizontal") do |form| %>
<div class="form-group">
  <div class="field">
    <%= form.label :content, class:"control-label col-md-2" %>
    <div class=" col-md-10">
      <%= form.text_area :content, id: :comment_content ,:class => "form-control"%>
    </div>
    <% if @comment.errors.messages[:content].any? %>
    <span class=text-warning><%= @comment.errors.messages[:content][0] %></span>
    <% end %>
  </div>

  <%=hidden_field_tag :plan_id, plan.id%>

  <div class="actions">
    <div class="col-md-offset-2 col-md-10">
      <%= form.submit class:"btn btn-primary btn-block"%>
    </div>
  </div>
</div>
<% end %>
