<!DOCTYPE html>
<html>
<head>
  <title>TweetApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <div class="header-logo">
    <%= link_to("TweetApp", "/") %>
  </div>



  <% if @current_user %>
      <li>
        now logged in User is:
        <!-- コードを追加し、ログイン中のユーザーのidを表示してください -->
        <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
        and User id :
        <%= @current_user.id %>
      </li>
      <li>
        <%= link_to("About TweetApp", "/about") %>
      </li>
      <li>
        <%= link_to("User list", "/users/index") %>
      </li>
      <li>
        <%= link_to("register","/signup")%>
      </li>
      <li>
      <%= link_to("Logged Out", "/logout", {method: :post}) %>
      </li>
  <% else %>
  <ul class="header-menus">
    <li>
      <%= link_to("TweetAppとは", "/about") %>
    </li>
    <li>
      <%= link_to("ユーザー一覧", "/users/index") %>
    </li>
    <li>
      <%= link_to("register","/signup")%>
    </li>
    <li>
      <%= link_to("logged in","/login")%>
    </li>
  </ul>
      <%end%>
</header>

<% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
<% end %>

<%= yield %>
</body>
</html>