


<% @user.errors.full_messages.each do |message| %>
      <%= message %>
<% end %>

<%= form_tag("/users/create") do%>

<p>name</p>
<input name="name" value="<%= @user.name%>">

<p>email</p>
<input name="email" value="<%= @user.email%>">


<p>password</p>
<input name="password" type="password" value="<%= @user.password %>">

<input type="submit" value="register">

<%end%>