<%= content_for(:maincontent)  do %>

<div class="container-fluid p-5">
  <!-- Example row of columns -->
  <div class="row px-5">
      <div class="alert alert-info" role="alert">
        <h2 class="plan-title">プランを探す</h2>
        <p class="plan-content ext-dark py-5">あなた様が気になる<strong>カテゴリ</strong>をクリックして、<strong>お気に入りのプラン</strong>を見つけましょう。<br>ここに表示されているカテゴリ以外にも様々なカテゴリのプランをご用意しております。</p>
        <div class="container-fluid">
          <div class=" card-deck-wrapper">
            <div class="card-deck">
              <div class="col-md-4 py-4">
                <div class="card">
                  <img class="card-img-top" src="https://www.photock.jp/photo/middle/photo0000-1642.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">観光地</h4>
                    <p class="card-text">沖縄には歴史的な建造物や、風情ある観光名所がたくさんあります。
                      是非一度訪れてみてはいかがでしょうか？</p>
                      <div class="py-2">
                        <%= link_to("観光地のプラン一覧", plans_path(search: "観光地", selected_val: "ハッシュタグ"), class:"btn btn-primary btn-lg plan-title", style:"font-size:1.5vw;")%>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 py-4">
                  <div class="card">
                    <img class="card-img-top" src="https://www.photock.jp/photo/middle/photo0000-1984.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">自然</h4>
                      <p class="card-text">綺麗な海や車で行ける小さな離島など、沖縄は豊かな自然で溢れています。
                        リフレッシュをしたい方にオススメのプランをご用意しております。
                        <div class="py-2">
                          <%= link_to("自然のプラン一覧", plans_path(search: "自然", selected_val: "ハッシュタグ"), class:"btn btn-primary btn-lg plan-title", style:"font-size:1.5vw;")%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 p-4">
                    <div class="card">
                      <img class="card-img-top" src="https://d1f5hsy4d47upe.cloudfront.net/79/798ccb9c0c1e8e7589b778e9a0eeae1c_t.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">グルメ</h4>
                        <p class="card-text">現地のコンシェルジュたちがオススメする
                          様々な沖縄料理を楽しめるプランを多数ご用意しております。
                          <div class="py-2">
                            <%= link_to("グルメのプラン一覧", plans_path(search: "グルメ", selected_val: "ハッシュタグ"), class:"btn btn-primary btn-lg py-2 plan-title", style:"font-size:1.5vw;")%>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 p-4">
                      <div class="card">
                        <%= image_tag "denkyu_soda.jpg" ,class:"card-img-top"%>
                        <div class="card-body">
                          <h4 class="card-title">ジェニスポ</h4>
                          <p class="card-text">
                            インスタ映えのするフォトジェニックなスポット、その名もジェニスポ！フォトジェニックとは「写真写りの良い」という意味。
                            インスタ映えするような写真がたくさん撮れること間違いなし！
                          </p>
                            <div class="py-2">
                              <%= link_to("ジェニスポのプラン一覧", plans_path(search: "ジェニスポ", selected_val: "ハッシュタグ"), class:"btn btn-primary btn-lg plan-title", style:"font-size:1.5vw;")%>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 p-4">
                        <div class="card">
                          <img class="card-img-top" src="https://www.photock.jp/photo/middle/photo0000-1975.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">体験</h4>
                            <p class="card-text">
                              体験型ツアー！沖縄の昔の暮らしなど実際に体験してみませんか？体を動かしながらの体験はSo Exciting!!
                            </p>
                              <div class="py-2">
                                <%= link_to("体験のプラン一覧", plans_path(search: " 体験", selected_val: "ハッシュタグ"), class:"btn btn-primary btn-lg plan-title", style:"font-size:1.5vw;")%>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 p-4">
                          <div class="card">
                            <%= image_tag "habusyu.jpg" ,class:"card-img-top"%>
                            <div class="card-body">
                              <h4 class="card-title">買い物</h4>
                              <p class="card-text">
                                沖縄でしか買えないお買い物を提供します。伝統工芸品から沖縄の人しか知らないマニアな一品まで。
                              </p>
                                <div class="py-2">
                                  <%= link_to("買い物のプラン一覧", plans_path(search: "買い物", selected_val: "ハッシュタグ"), class:"btn btn-primary btn-lg plan-title", style:"font-size:1.5vw;")%>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row px-5 pt-5">
                  <div class="alert alert-success" role="alert">
                    <h2 class="plan-title">プラン</h2>
                    <div class=" card-deck-wrapper">
                      <div class="card-deck">
                        <%= render(partial: "plans/index", collection:@plans)%>
                      </div>
                    </div>
                    <div class="py-4">
                      <%= link_to("もっと見る", plans_path(), class:"btn btn-primary btn-lg plan-title col-md-12", style:"font-size:1.5vw;")%>
                    </div>
                  </div>


              </div>
            </div>
<% end %>
