<%= content_for(:maincontent) do %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @utinaantyu.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @utinaantyu.age %>
</p>

<p>
  <strong>Mailaddress:</strong>
  <%= @utinaantyu.mailaddress %>
</p>

<!--<%=render partial: "profile/form", locals:{utinaantyu_id: @utinaantyu.id}%> -->

<h2>この方のプラン</h2>
<% @plans = Plan.where(creator_id: @utinaantyu.id) %>
<%= render :partial => "plans/index", collection:@plans %>


<% if @currentuser != nil%>
  <%if @utinaantyu.id == @currentuser.id%>
    <%= link_to 'Edit', edit_utinaantyu_path(@utinaantyu) %>
  <%end%>
<%end%>

<% end %>
